@import "react-virtualized/styles.css";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: lightyellow;
  margin: 0;
  padding: 0;
}

.table-container {
  width: 100vw;
  height: 90vh;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

.ReactVirtualized__Table__rowColumn {
  text-align: center;
}

.ReactVirtualized__Table__rowColumn:empty::before {
  content: "🛠";
}

.ReactVirtualized__Table__rowColumn:empty {
  animation: 3s linear spin infinite;
}
